@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="false" />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Medium"
                   CloseButton="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />
<MudSnackbarProvider />
<MudPopoverProvider />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<MudLayout>
    <MudAppBar Elevation="0">
        <MudText Typo="Typo.h4">Weather</MudText>
    </MudAppBar>
    <MudMainContent>
        <MudContainer Class="py-4" MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>